
body{
  background-color: #c6b08c;
}
#Navbar{
  position: fixed;
  width: 100%;
  height: 100vh;
  
}

.logo{
  font-size: 2rem;
  font-weight: 100;
  color: black;
  padding-bottom: 80vh;
}

#navbar a {
  color: #181713;
  font-weight: 400;
  padding-left: 20px;
  display: flex;
  margin-left: 20px;
  margin-top: -615px;
}

#Navbar .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

#navbar ul{
  display: flex;
  padding-left: 70vh;
  color: black;
}
ul{
  list-style: none;
}

.titulo{
  h1 {
    position: absolute;
    top: 95px; 
    left: 50%; 
    transform: translateX(-50%); 
}

}

.parrafo-1{
  align-items: center;
  padding-left: 44vh;
  padding-top: 20px;
}