/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  color: azure;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

/*Navbar*/
body{
  background-color: white;
}
img{
    max-width: 100%;
}
/*header{
    background: url(../src/assets/img-fto.png);
    background-repeat: no-repeat;
    height: 57vh;
    
    align-items: center;
    display:block;
    background-size: cover;
  }*/

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .logo{
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 70vh;
}
#Navbar{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
}
#Navbar .CartWidget{
  display: flex;
  margin-left: 40vh;
}
ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    padding-left: 40vh;
    align-items: center;
    margin-top: -50%;
  }

ul li{
  margin-right: 1rem;
}
nav ul li a{
  text-decoration: none;
  color: white;
}

/*Portada*/
.titulo{
  text-align: center;
}
.display-1{
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 30px;
    margin-top: -340px; /* Ajusta este valor según sea necesario */
    text-align: center; /* Por si acaso no se centró horizontalmente en el contenedor */
    margin-left: 40vh;
    font-family: "IBM Plex Sans, sans-serif";
  
}

.parrafo-1{
  align-items: center;
  padding-left: 44vh;
  padding-top: 20px;
}

