#Navbar{
    position: fixed;
    width: 100%;
    height: 100vh;
    
}

.logo{
    font-size: 2rem;
    font-weight: 100;
    color: black;
    padding-bottom: 80vh;
}

#navbar a {
    color: #181713;
    font-weight: 400;
    padding-left: 20px;
    display: flex;
    margin-left: 20px;
    margin-top: -615px;
}

#Navbar .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#navbar ul{
    display: flex;
    padding-left: 70vh;
    color: black;
}
ul{
    list-style: none;
}